db.sqlite3
.idea/*
/secretsLocal.json
/webpack-stats-local.json
/cositas.txt
/node_modules
/venv_intranet_proyectos/
media/*
/webpack-stats.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.npmrc
# Binary Files
**/__pycache__/*
requirements.txt
