{% extends "base.html" %}
{% load i18n static crispy_forms_tags %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block content %}
    <div class="mt-3">
        <div class="text-center mb-3">
            <img height="200px" src="{% static "img/logo.png" %}" alt="logo"/>
            <h3>Recuperar Contraseña</h3>
        </div>
        <div class="container form-signin">
            <p class="text-center">
                {% blocktrans %}
                    Olvidaste tu contraseña? Coloca tu email en el campo de abajo y te enviaremos las instrucciones para
                    recuperarla!
                {% endblocktrans %}
            </p>
            <form method="post" action="">
                <div class="m-3 text-center">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Recuperar Contraseña"/>
            </form>
        </div>
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
