container_commands:
  01_install_requirements:
    command: "pip install --upgrade pip setuptools wheel && pip install -r requirements.txt 2>&1 | tee /tmp/pip_install.log || (cat /tmp/pip_install.log && exit 1)"
    leader_only: false
  02_migrate:
    command: python manage.py migrate --noinput
    leader_only: true
  03_createsu:
    command: python manage.py makesuper
  04_collectstatic:
    command: python manage.py collectstatic --noinput
    leader_only: true
  05_createcachetable:
    command: python manage.py createcachetable
    leader_only: true
  06_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
    leader_only: true
  07_createinitialrevisions:
    command: python manage.py createinitialrevisions
    leader_only: true
