container_commands:
  01_migrate:
    command: python manage.py migrate --noinput
    leader_only: true
  02_createsu:
    command: python manage.py makesuper
  03_collectstatic:
    command: python manage.py collectstatic --noinput
    leader_only: true
  04_createcachetable:
    command: python manage.py createcachetable
    leader_only: true
  05_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
    leader_only: true
  06_createinitialrevisions:
    command: python manage.py createinitialrevisions
    leader_only: true
  07_requirements:
    command: "source /opt/python/run/venv/bin/activate && pip install -r requirements.txt"
    leader_only: false
