.btn-primary {
  background-color: #ed6b00;
  border-color: #ed6b00;
}
.btn-primary:hover {
  background-color: #211915;
  border-color: #211915;
}
.tabla-maestra {
  font-size: 11px;
}
.tabla-maestra tbody .tr-seleccionado {
  background-color: #000 !important;
  color: #fff !important;
}
.tabla-maestra tbody tr:hover {
  background-color: #fff !important;
  color: #000 !important;
}
.boton-flotante {
  position: fixed;
  right: 30px;
  bottom: 40px;
  cursor: pointer;
}
.boton-flotante :hover {
  color: #f00;
}
.boton-flotante :active {
  color: #008000;
}
form .btn {
  font-size: 0.8rem;
  margin: 0.4rem;
}
.btn-limpiar {
  background-color: #a9a9a9;
  color: #fff;
}
.btn-guardar {
  background-color: #000;
  color: #fff;
}
.btn-cancelar {
  background-color: #87cefa;
  color: #fff;
}
.btn-eliminar {
  background-color: #f00;
  color: #fff;
}
.puntero {
  cursor: pointer;
}
.loading-overload-uno {
  position: relative;
}
.loading-overload-dos:before {
  content: '';
  background: rgba(255,255,255,0.5);
  width: 100%;
  height: 100%;
  opacity: 0.9;
  position: absolute;
  z-index: 99;
}
.loading-overload-tres {
  border-radius: 10px;
  font-size: 2rem;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  background-color: #ed6b00;
  padding: 0.5rem;
  color: #fff;
}
.left-icon {
  margin: 0 0 0 12px !important;
}
.right-icon {
  margin: 0 12px 0 0 !important;
}
.boton-index a {
  color: #ed6b00;
}
.boton-index a :hover {
  background-color: #000;
  color: #fff !important;
  border: 2px solid #000 !important;
}
.boton-index a :active {
  text-decoration: none;
}
.boton-index a :visit {
  text-decoration: none;
}
.boton-index a .icono {
  border-radius: 25px;
  border: 2px solid #ed6b00;
  padding: 1rem;
  width: 100%;
}
.texto-cita {
  font-size: 10px;
  position: absolute;
  color: #808080;
}
.texto-cita.bottom {
  bottom: 0;
}
.texto-cita.top {
  top: -5px;
}
.texto-cita.right {
  right: 0px;
}
.form-field-error {
  color: #f00;
}
