.btn-primary {
  background-color: #ed6b00;
  border-color: #ed6b00;
}
.btn-primary:hover {
  background-color: #211915;
  border-color: #211915;
}
.tabla-maestra {
  font-size: 11px;
}
.tabla-maestra tbody .tr-seleccionado {
  background-color: #000 !important;
  color: #fff !important;
}
.tabla-maestra tbody tr:hover {
  background-color: #fff !important;
  color: #000 !important;
}
.boton-flotante {
  position: fixed;
  right: 30px;
  bottom: 40px;
  cursor: pointer;
}
.boton-flotante :hover {
  color: #f00;
}
.boton-flotante :active {
  color: #008000;
}
form .btn {
  font-size: 0.8rem;
  margin: 0.4rem;
}
.btn-limpiar {
  background-color: #a9a9a9;
  color: #fff;
}
.btn-guardar {
  background-color: #000;
  color: #fff;
}
.btn-cancelar {
  background-color: #87cefa;
  color: #fff;
}
.btn-eliminar {
  background-color: #f00;
  color: #fff;
}
.puntero {
  cursor: pointer;
}
