$odecopack-color_1 = #ed6b00
$odecopack-color_2 = #211915
$odecopack-color_3 = white
$odecopack-color_4 = #5B5B5F
$odecopack-color_5 = #ECEDEF

.btn-primary
  background-color $odecopack-color_1
  border-color $odecopack-color_1

.btn-primary:hover
  background-color $odecopack-color_2
  border-color $odecopack-color_2

.tabla-maestra
  font-size 11px
  tbody
    .tr-seleccionado
      background-color black !important
      color white !important
    tr:hover
      background-color white !important
      color black !important

.boton-flotante
  position fixed
  right 30px
  bottom 40px
  cursor pointer
  :hover
    color red
  :active
    color green

form
  .btn
    font-size 0.8rem
    margin 0.4rem

.btn-limpiar
  background-color darkgray
  color white

.btn-guardar
  background-color black
  color white

.btn-cancelar
  background-color lightskyblue
  color white

.btn-eliminar
  background-color red
  color white

.puntero
  cursor pointer

.loading-overload-uno
  position relative

.loading-overload-dos
  &:before
    content ''
    background rgba(255, 255, 255, 0.5)
    width 100%
    height 100%
    opacity .9
    position absolute
    z-index 99

.loading-overload-tres
  border-radius 10px
  font-size 2rem
  position fixed
  text-align center
  top 50%
  left 50%
  transform translate(-50%, -50%)
  z-index 99
  background-color $odecopack-color_1
  padding 0.5rem
  color white