$odecopack-color_1 = #ed6b00
$odecopack-color_2 = #211915
$odecopack-color_3 = white
$odecopack-color_4 = #5B5B5F
$odecopack-color_5 = #ECEDEF

.btn-primary
  background-color $odecopack-color_1
  border-color $odecopack-color_1

.btn-primary:hover
  background-color $odecopack-color_2
  border-color $odecopack-color_2

.tabla-maestra
  font-size 11px
  tbody
    .tr-seleccionado
      background-color black !important
      color white !important
    tr:hover
      background-color white !important
      color black !important

.boton-flotante
  position fixed
  right 30px
  bottom 40px
  cursor pointer
  :hover
    color red
  :active
    color green

form
  .btn
    font-size 0.8rem
    margin 0.4rem

.btn-limpiar
  background-color darkgray
  color white

.btn-guardar
  background-color black
  color white

.btn-cancelar
  background-color lightskyblue
  color white

.btn-eliminar
  background-color red
  color white