$odecopack-color_1 = #ed6b00
$odecopack-color_2 = #211915
$odecopack-color_3 = white
$odecopack-color_4 = #5B5B5F
$odecopack-color_5 = #ECEDEF

.btn-primary
  background-color $odecopack-color_1
  border-color $odecopack-color_1

.btn-primary:hover
  background-color $odecopack-color_2
  border-color $odecopack-color_2