{% load static l10n humanize %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>
    {% block css-libraries %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% endblock %}
</head>

<div style="font-size: 0.7rem">
    {% localize on %}
        <span style="font-weight: bold">Generado por: </span>{{ user }}<br/>

        <table style="width: 100%">
            <tr>
                <td style="width: 50%">
                    <span style="font-weight: bold">Id: </span>{{ proyecto.id_proyecto }}<br/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% if proyecto.nombre %}<span style="font-weight: bold">Nombre: </span>{{ proyecto.nombre }}
                        <br/>{% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="2" style="width: 50%">
                    <span style="font-weight: bold">Tipo de consulta: </span>{{ tipo_consulta }}
                    {% if con_mo_saldo_inicial %}
                        con saldos iniciales de MO hasta el 30 de abril 2018
                    {% else %}
                        sin saldos iniciales de MO hasta el 30 de abril 2018
                    {% endif %}
                </td>
            </tr>
            {% if tipo_consulta != 'Todo' %}
                <tr>
                    <td style="width: 50%">
                        <span style="font-weight: bold">Lapso: </span> de {{ fecha_inicial }} hasta {{ fecha_final }}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td style="width: 50%">
                    <span style="font-weight: bold">Fecha Generación: </span>{% now "j \d\e F Y" %}<br/>
                </td>
                <td style="width: 50%">
                    <span style="font-weight: bold">Hora Generación: </span>{% now "H:i" %}<br/>
                </td>
            </tr>
        </table>

        <span style="font-size: 1.2rem">Listado Mano Obra Asignada</span><br/>
        <table class="table table-striped tabla">
            <thead>
            <tr>
                {% if con_literal %}
                    <th>Id Literal</th>
                    <th>Literal</th>
                {% endif %}
                <th>Cedula</th>
                <th>Colaborador</th>
                <th style="text-align: right">Horas</th>
                <th style="text-align: right">Costo</th>
            </tr>
            </thead>
            <tbody>
            {% for mano_obra in reporte_data %}
                {% with horas=mano_obra.horas_trabajadas|default_if_none:0 costo_total=mano_obra.costo_total|default_if_none:0 %}
                    <tr>
                        {% if con_literal %}
                            <td>{{ mano_obra.literal__id_literal }}</td>
                            <td>{{ mano_obra.literal__descripcion }}</td>
                        {% endif %}
                        <td></td>
                        <td>{{ mano_obra.hoja__colaborador__nombres }} {{ mano_obra.hoja__colaborador__apellidos }}</td>
                        <td style="text-align: right">{{ horas|floatformat:0|intcomma }}</td>
                        <td style="text-align: right">{{ costo_total|floatformat:0|intcomma }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    {% endlocalize %}
</div>