{% load static l10n humanize %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>
    {% block css-libraries %}
        <link rel="stylesheet" href="{% static 'css/custom.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% endblock %}
</head>
<div>
    <h1>Listado de Costos Asignados {{ proyecto.id_proyecto }}</h1>
    {% localize on %}
        <table class="table table-striped tabla">
            <thead>
            <tr>
                <th>Literal</th>
                <th>Mano de Obra</th>
                <th>Materia Prima</th>
                <th>Costo Total</th>
            </tr>
            </thead>
            <tbody>
            {% for literal in literales.all|dictsort:"id_literal" %}
                <tr>
                    <td>{{ literal.id_literal }}</td>
                    <td>{{ literal.costo_mano_obra|floatformat:0|intcomma|default_if_none:0 }}</td>
                    <td>{{ literal.costo_mis_materiales|floatformat:0|intcomma }}</td>
                    <td>{{ literal.costo_mano_obra|default_if_none:0|add:literal.costo_mis_materiales|floatformat:0|intcomma }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td>{{ total_costo_mo|floatformat:0|intcomma }}</td>
                <td>{{ total_costo_materiales|floatformat:0|intcomma }}</td>
                <td>{{ total_costo|floatformat:0|intcomma }}</td>
            </tr>
            </tfoot>
        </table>
    {% endlocalize %}
</div>