{% load static l10n humanize %}
<style>
    @page {
        text-align: justify;
        font-family: Arial;
        size: 21.6cm 27.9cm;
        margin: 4cm 0.7cm 4cm 0.7cm;
        @bottom-center {
            font-size: 1rem;
            content: "Página " counter(page) " de " counter(pages);
        }
    }

    .text {
        text-align: justify;
        white-space: pre-line;
        font-size: 0.6rem;
    }

    .title {
        font-weight: bold;
        font-size: 0.8rem;
    }


    .tabla_concepto tr {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }


    .tabla_concepto tr .numero {
        text-align: right;
    }

    .tabla_concepto table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .tabla_concepto th,
    .tabla_concepto td {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .tabla_concepto body tr:nth-child(even) {
        background-color: #f2f2f2
    }

    .tabla_concepto table, .tabla_concepto td, .tabla_concepto th {
        border-bottom: 1px solid lightgray;
        border-top: 1px solid lightgray;
    }
</style>
<div>
    <div>
        <table style="width: 100%">
            <tr>
                <td colspan="2" style="padding: 3px">
                    <div><span class="title">FECHA: </span>{{ anticipo.fecha }}</div>
                </td>
            </tr>
            <tr>
                <td style="width: 50%; padding: 3px; vertical-align: top">
                    <div class="title">CLIENTE</div>
                    <div class="text">{{ anticipo.informacion_cliente }}</div>
                </td>
                <td style="width: 50%; padding: 3px; vertical-align: top">
                    {% if anticipo.informacion_locatario %}
                        <div class="title">LOCATARIO</div>
                        <div class="text">{{ anticipo.informacion_locatario }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% localize off %}
                        <span class="title">{{ anticipo.get_tipo_documento_display|upper }}:</span>
                        {{ anticipo.nro_consecutivo }}
                    {% endlocalize %}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="title">ORDEN DE COMPRA:</span> {{ anticipo.nro_orden_compra }}
                </td>
            </tr>
        </table>
        <div class="tabla_concepto">
            <table class="table table-striped tabla">
                <thead>
                <tr>
                    <th>Descripción</th>
                    <th class="numero">Cantidad</th>
                    <th class="numero">Valor Unitario</th>
                    <th class="numero">Total</th>
                </tr>
                </thead>
                <tbody>
                {% for item in anticipo.items.all %}
                    <tr>
                        <td>{{ item.descripcion }}</td>
                        <td class="numero">{{ item.cantidad|floatformat:2|intcomma }}</td>
                        <td class="numero">{{ item.valor_unitario|floatformat:2|intcomma }} {{ anticipo.divisa }}</td>
                        <td class="numero">{{ item.valor_total|floatformat:2|intcomma }} {{ anticipo.divisa }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td colspan="2">Valor Total Antes Impuestos</td>
                    <td class="numero">{{ anticipo.valor_total_sin_impuesto|floatformat:2|intcomma }} {{ anticipo.divisa }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Impuestos</td>
                    <td class="numero">{{ anticipo.impuesto|floatformat:2|intcomma }} {{ anticipo.divisa }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Valor Total</td>
                    <td class="numero">{{ anticipo.valor_total_sin_impuesto|add:anticipo.impuesto|floatformat:2|intcomma }} {{ anticipo.divisa }}</td>
                </tr>
                </tfoot>
            </table>
        </div>
        <table style="width: 100%">
            <tbody>
            <tr>
                <td style="width: 60%; padding: 3px; vertical-align: top">
                    <div class="title">DATOS BANCARIOS</div>
                    <div class="text">{{ configuracion.informacion_bancaria }}</div>
                </td>
                <td style="width: 40%; padding: 3px; vertical-align: top">
                    <div class="title">CONDICIONES DE PAGO</div>
                    <div class="text">{{ anticipo.condicion_pago }}</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="width: 6cm; text-align: center">
        <img style="width: 4cm" src="{{ configuracion.firma.url }}" alt="">
        <div style="border-top: 1px black solid">
            Firma Emisor
        </div>
    </div>
</div>